*{
    margin: 0px;
    padding: 0px;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
    position: fixed;

}

span{
    margin: 7px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 45px;
    opacity: 0.5;
    
   
}
#li1{
    font-size: 12px;
    opacity: 0.5;
 
}
.div1{
    padding: 10px;
    margin: 0px 15px 0px 15px;
}
.nav-section{
   text-align: left;
   display: inline-block;
   min-width: 10rem;
   
 /*  border: 2px solid red ;*/
}
.nav-section ul{
    list-style: none;
    margin: 0px 15px 0px 15px; 
    /*border: 2px solid green ;*/
    display: inline-block;
 }

 .nav-section ul li {
    padding: 5px;
    
    
 }
 #li2{
    font-size: 20px;
 }
 
 #li3{
    font-size: 13px;
 }
 .hover-section{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out ;
    height: 0;
 }
 .nav-txt-store:hover~ .hover-section-store{
    height: 300px;
    visibility: visible;
    opacity: 1;
 }
 .nav-txt-mac:hover~ .hover-section-mac{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-ipad:hover~ .hover-section-ipad{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-iphone:hover~ .hover-section-iphone{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-watch:hover~ .hover-section-watch{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-vision:hover~ .hover-section-vision{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-airpods:hover~ .hover-section-airpods{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-tv:hover~ .hover-section-tv{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-entm:hover~ .hover-section-entm{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-access:hover~ .hover-section-access{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-support:hover~ .hover-section-support{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 
   .nav-txt-cart:hover~ .hover-section-cart{
      height: 350px;
      visibility: visible;
      opacity: 1;
 }

 .main{
    text-align: center;
    font-weight: normal;
    background-image: url(./images/iphone\ 15.jpg);
    height: 90%;
    width: 100%;
    background-size: cover;
    color: white;  
 }

  .iphone15pro{
    font-size: 45px;
    font-weight: bolder;
    padding: 40px 40px 3px 40px;
  }

  .iphone15{
      font-size: 45px;
      font-weight: bolder;
      padding: 40px 40px 3px 40px;
      color: black;
  }

 .div2{
    font-weight: bolder;
    font-size: 35px;
    padding: 40px 40px 3px 40px;
 }

 .div3{
  font-size: 20px;
 }

 .div33{
    font-weight: medium;
    font-size: 20px;
    color: black;
 }

#btn{
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    border: 2px solid #2997ff;
    background-color: #2997ff;
    color: white;
    height: 28px;
    width: 100px;
 }

 #btn1{
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    background-color: black;
    color: #2997ff;
    border: 2px solid #2997ff;
    height: 28px;
    width: 70px;
 }

 .main1{
    text-align: center;
    font-weight: normal;
    background-image: url(./images/4.avif);
    height: 90%;
    width: 100%;
    background-size: cover;
    color: white;
 }

 #btn3{
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    background-color: white;
    color: #2997ff;
    border: 2px solid #2997ff;
    height: 28px;
    width: 70px;
 }         

 .div4{
   text-align: center;
   background-image: url(./images/1_xTyt81dnEVL5JAWEnTcbNA.jpg);
   height: 100%;
   width: 100%;
   background-size: cover; 
 }

 #btn4{
    margin-top: 730px;
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    background-color: white;
    color: #2997ff;
    border: 2px solid #2997ff;
    height: 28px;
    width: 70px;
 }

 .main2{
    text-align: center;
    font-weight: normal;
    background-image: url(./images/pexels-joshsorenson-1334598.jpg);
    height: 98%;
    width: 49%;
    background-size: cover;
    color: white;
    display: inline-block;
    margin-right: 8px;
 }

 .main3{
    text-align: center;
    font-weight: normal;
    background-image: url(./images/mac.jpg);
    height: 98%;
    width: 49%;
    background-size: cover;
    color: black;
    display: inline-block;
    margin-left: 3px;
 }

 .flex{
   display: flex;
   height: 70%;
   justify-content: space-around;
 }

 .main4{
      text-align: center;
      font-weight: normal;
      background-image: url(./images/watch.avif);
      height: 98%;
      width: 49%;
      background-size: cover;
      color: white;  
      margin-right: 8px;
      margin-bottom: 500px;
 }

 #watch{
      color: red;
 }

 .main5{
   text-align: center;
   font-weight: normal;
   background-image: url(./images/888.webp);
   height: 98%;
   width: 49%;
   background-size: cover;
   color: black;
   margin-left: 3px;
 }

 .flex1{
   display: flex;
   height: 70%;
   justify-content: space-around;
 }

 #btn5{
      padding: 4px;
      border-radius: 15px;
      color: #2997ff;
      border: 2px solid #2997ff;
 }

 .main6{
      text-align: center;
      font-style: normal;
      background-image: url(/images/pexels-negativespace-34140.jpg);
      height: 98%;
      width: 49%;
      background-size: cover;
      color: white;
      margin-right: 8px;
      margin-bottom: 500px;
 }

 .flex2{
      display: flex;
      height: 70%;
      justify-content: space-around;
 }

 .main7{
      text-align: center;
      font-weight: normal;
      background-image: url(/images/tr.webp);
      height: 98%;
      width: 49%;
      background-size: cover;
      color: black;
      margin-left: 3px;
      
 }

 #btn6{
    padding: 4px;
    border-radius: 15px;
    color: white;
    border: 2px solid #2997ff;
    background-color: #2997ff;
 }