*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
nav{
    background-color: black;
    color: white;
    padding: 15px;
    

}

span{
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
    padding-left: 45px;
    opacity: 0.5;
    
   
}
#li1{
    font-size: 12px;
    opacity: 0.5;
 
}
.div1{
    padding: 10px;
    margin: 0px 15px 0px 15px;
}
.nav-section{
   text-align: left;
   display: inline-block;
   min-width: 10rem;
   
 /*  border: 2px solid red ;*/
}
.nav-section ul{
    list-style: none;
    margin: 0px 15px 0px 15px; 
    /*border: 2px solid green ;*/
    display: inline-block;
 }

 .nav-section ul li {
    padding: 5px;
    
    
 }
 #li2{
    font-size: 20px;
 }
 
 #li3{
    font-size: 13px;
 }
 .hover-section{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out ;
    height: 0;
 }
 .nav-txt-store:hover~ .hover-section-store{
    height: 300px;
    visibility: visible;
    opacity: 1;
 }
 .nav-txt-mac:hover~ .hover-section-mac{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-ipad:hover~ .hover-section-ipad{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-iphone:hover~ .hover-section-iphone{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-watch:hover~ .hover-section-watch{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-vision:hover~ .hover-section-vision{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-airpods:hover~ .hover-section-airpods{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-tv:hover~ .hover-section-tv{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-entm:hover~ .hover-section-entm{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-access:hover~ .hover-section-access{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 .nav-txt-support:hover~ .hover-section-support{
   height: 350px;
   visibility: visible;
   opacity: 1;
 }
 
   .nav-txt-cart:hover~ .hover-section-cart{
      height: 350px;
      visibility: visible;
      opacity: 1;
 }

 .main{
    text-align: center;
    font-weight: bold;
    background-image: url(./images/pexels-matheus-oliveira-64077457-10921040\ \(1\).jpg);
    height: 90%;
    width: 100%;
    background-size: cover;
    color: white;  
 }

 .div2{
  font-size: xx-large;
  padding: 40px 40px 3px 40px;
 }

 .div3{
  font-size: large;
 }

#btn{
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    border: 2px solid #2997ff;
    background-color: #2997ff;
    color: white;
    height: 28px;
    width: 100px;
 }

 #btn1{
    border-radius: 15px;
    padding: 5px;
    font-size: small;
    background-color: black;
    color: #2997ff;
    border: 2px solid #2997ff;
    height: 28px;
    width: 70px;
 }

 .main1{
  
 }

 
